/*
Created by Joey Stagg
Last updated 12/21/2023
*/

/* CSS Reset */
body,
main,
h1,
p,
form {
    margin: 0;
    padding: 0;
}


/* Font family for all text */
* {
    font-family: 'Roboto', sans-serif;
}

/* Style rules for mobile viewport */

header {
    background-color: #e81727;
    color: #fff;
    padding: 1em;
}

main {
    background-color: #fff;
}

.card {
    border-radius: 5px;
    box-shadow: 2px 2px 5px;
}

form {
    padding: 1em;
    margin: 1em;
    background-color: #e7e7e7;
}

.input-box {
    margin: .5em 0;
    box-shadow: 5px 5px 5px grey;
    border: none;
    border-radius: 5px;
    width: 100%;
}

#note {
    background-color: #e7e7e7;
    padding: .5em 1em;
    margin: 1em;
    line-height: 1.5em;
}

#note h3 {
    margin: 0;
}

.btn {
    border: none;
    border-radius: 5px;
    background-color: #fff;
    padding: .5em;
    width: 100%;
}

.btn-holder {
    text-align: center;
}

footer {
    background-color: #e81727;
    color: #fff;
    padding: 2em 1em;
    text-align: center;
}

.version {
    font-size: .75em;
    float: left;
}

/* Style rules for tablet viewport */
@media screen and (min-width: 481px) {

    header {
        text-align: center;
    }

    #note {
        margin: 0 auto;
        margin-bottom: 1em;
        margin-top: 1em;
        width: 80%
    }

    form {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 1em;
    }

    .btn {
        width: 40%;
    }

    #show-output,
    #second-output {
        text-align: center;
    }

}

/* Style rules for desktop viewport */
@media screen and (min-width: 769px) {

    #note {
        width: 50%;
    }

    form {
        width: 50%;
    }
}