h1,
form {
    text-align: center;
}

fieldset {
    border: none;

}

div {
    background-color: lightskyblue;
    margin: 50px;
    display: flex;
    justify-content: center;
    color: black;
}

p {
    margin: 30px;
    margin-bottom: 0;
}